doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
  body
    include nav_login.jade
    +login_status(user)

    block content

    script(type='text/javascript' src='javascripts/jquery-min.js')
    script(type='text/javascript' src='/javascripts/main.js')
